/* main */
.main {
    position: relative;
    margin-bottom: 80px;
}

/* intro */
.intro {
    position: relative;

    background-color: #fbfbfb;
    overflow: hidden;

    padding: 165px 0 240px;
    margin-bottom: 86px;
}

.intro__info {
    display: flex;
    flex-flow: column nowrap;
}

.intro__inner {
    display: flex;
    flex-flow: column nowrap;
}


.intro__name {
    font-size: 5.33rem;
    font-weight: 900;

    z-index: 1000;

    margin: 0.95rem 0;
}

.intro__job {
    font-size: 1.66rem;
    font-weight: 400;

    color: #8993ad;

    margin-bottom: 3.066rem;

    z-index: 1000;
}

.intro__photo {
    position: absolute;
    bottom: -15px;
    right: 15.625%;
    z-index: 2;
}

.intro__bg-img {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1;
}

.fly-elements {
    width: 100%;
    height: auto;

    position: absolute;
    left: 0;
    top: 0;

    padding: 0;
    margin: 0;
}

.fly-elements__item {
    position: absolute;
    left: 0;
    top: 0;

    z-index: 10;

    list-style-type: none;
    padding: 0;

    transition: all 0.5s linear;
}

.fly-elements__span {
    display: inline-block;
    font-weight: 700;
}

.main-style {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(242,101,34,1) 0%, rgba(250,8,145,1) 99%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.prices-style {
    color: white;
}

#grid-1 .rotate {
    transform: rotate(16deg);
}

#brackets-1 .rotate {
    transform: rotate(27deg);
}

#brackets-2 {
    display: none;
}

#div-1 .rotate {
    transform: rotate(20deg);
}

#div-2 .rotate {
    transform: rotate(-14deg);
}

#slash-1 .rotate {
    transform: rotate(-22deg);
}

#slash-2 {
    display: none;
}


/* service */
.service {
    margin-bottom: 100px;
}

.heading {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
}

.service__heading {
    margin: 0 0 90px;
}

.service__tools {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    text-align: center;

    list-style: none;

    padding: 0;
    margin: 0 -15px;
}

.service__item {
    width: 25%;
    padding: 0 15px;
}

.service__photo {
    margin-bottom: 12px;
}

.service__description {
    font-size: 1.33rem;
    color: #8993ad;
    line-height: 1.5em;

    padding: 0;
    margin: 0;
}

.service__btn {
    margin: 94px auto 0;
}

/* works */
.works {
    background-color: #fbfbfb;

    padding: 96px 0;
}

.works__heading {
    margin: 0 0 100px;
}

.works__list {
    position: relative;

    display: flex;

    margin: 0 -15px 96px;

    padding: 0;

    list-style: none;
}

.works__item {
    width: 33.3%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 0 15px;
}

.works__figure {
    display: flex;
    flex-flow: column;
    align-items: center;

    margin: 0;
}

.works__image {
    margin-bottom: 28px;
}

.works__name {
    font-size: 1.33rem;
    font-weight: 500;

    color: #8993ad;
    text-align: center;
}


.works__btn {
    margin: 0 auto;
}


/* prices */
.prices {
    position: relative;
    padding: 78px 0;
    background: url("../img/prices/bg.png") no-repeat;
    background-size: 100% 100%;
}

.prices__inner {
    position: relative;

    padding: 0 110px;
    color: #fff;
}

.prices__title {
    font-size: 3rem;
    font-weight: 700;

    line-height: 1.33;

    margin: 0 0 30px;

    z-index: 1000;
}

.prices__notes {
    position: relative;
    max-width: 766px;

    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.667;

    padding-left: 15px;
    margin: 0;

    z-index: 5;
}

.prices__notes::before {
    position: absolute;
    content: '*';

    top: 0;
    left: 0;
}

/* fly-elements */
#grid-2 .rotate {
    transform: rotate(16deg);
}

#brackets-3 .rotate {
    transform: rotate(-17deg);
}

#brackets-4 .rotate {
    transform: rotate(24deg);
}

#div-3 .rotate {
    transform: rotate(20deg);
}

#slash-3 .rotate {
    transform: rotate(-22deg);
}

